/vendor
/node_modules
/storage

/public/css
/public/js

# Laravel 4 specific
/bootstrap/compiled.php
/app/storage/

# Laravel 5 & Lumen specific
bootstrap/cache/
.env.*.php
.env.php
.env

# PHPSTORM
/.idea
